.img {
  width: 170px;
}

.card {
  width: 170px;
  border: 1px solid #eee;
  background: #f1f6f4;
  margin-bottom: 20px;
}

.title {
  color: #666;
  min-height: 40px;
  margin: 10px 0;
  padding: 0 10px;
}

.cardCTA {
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: #666;
  display: block;
  border-top: 1px solid #dcdddd;
}
