.container {
  align-items: center;
  justify-content: space-between;
}

.link {
  color: #666;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.logout {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}
